SSM::set AnalogicalSwitchMonitoring/handle false
SSM::set AnalogicalSwitchMonitoring/analogical_switch false
SSM::cycle 10
SSM::set AnalogicalSwitchMonitoring/handle true
SSM::set AnalogicalSwitchMonitoring/analogical_switch false
SSM::cycle 10
SSM::set AnalogicalSwitchMonitoring/handle false
SSM::set AnalogicalSwitchMonitoring/analogical_switch false
