SSM::set DoorsMotionMonitoring/close_EV false
SSM::set DoorsMotionMonitoring/door_closed_front false
SSM::set DoorsMotionMonitoring/door_closed_right false
SSM::set DoorsMotionMonitoring/door_closed_left false
SSM::set DoorsMotionMonitoring/door_open_front false
SSM::set DoorsMotionMonitoring/door_open_right false
SSM::set DoorsMotionMonitoring/door_open_left false
SSM::cycle 10
SSM::set DoorsMotionMonitoring/close_EV true
SSM::set DoorsMotionMonitoring/door_closed_front false
SSM::set DoorsMotionMonitoring/door_closed_right false
SSM::set DoorsMotionMonitoring/door_closed_left false
SSM::set DoorsMotionMonitoring/door_open_front false
SSM::set DoorsMotionMonitoring/door_open_right false
SSM::set DoorsMotionMonitoring/door_open_left false
SSM::cycle 10
SSM::set DoorsMotionMonitoring/open_EV false
SSM::set DoorsMotionMonitoring/door_closed_front false
SSM::set DoorsMotionMonitoring/door_closed_right false
SSM::set DoorsMotionMonitoring/door_closed_left false
SSM::set DoorsMotionMonitoring/door_open_front false
SSM::set DoorsMotionMonitoring/door_open_right false
SSM::set DoorsMotionMonitoring/door_open_left false
SSM::cycle 10
SSM::set DoorsMotionMonitoring/open_EV true
SSM::set DoorsMotionMonitoring/door_closed_front false
SSM::set DoorsMotionMonitoring/door_closed_right false
SSM::set DoorsMotionMonitoring/door_closed_left false
SSM::set DoorsMotionMonitoring/door_open_front false
SSM::set DoorsMotionMonitoring/door_open_right false
SSM::set DoorsMotionMonitoring/door_open_left false
